*{
margin:0px;
padding:0px;
}

body{
height:100%;
width:100%;
}

.main{

position:relative;
z-index:9;
}

.page1{
min-height:100vh;
width:100%;
background:#efeae3;
position:relative;
}

nav{
padding:2vw 2vw;
width:95%;
display:flex;
align-items:center;
justify-content:space-between;
}

.nav-part2{
position:relative;
display:flex;
align-items:center;
gap:2vw;
}

.nav-part2 h4{
padding:10px 20px;
border:1px solid #0000006c;
border-radius:50px;
font-weight:500;
font-size:18px;
position:relative;
transition:all ease 0.4s;
overflow:hidden;
}


.nav-part2 h4::after{
content:"";
position:absolute;
height:100%;
width:100%;
background:black;
left:0;
bottom:-100%;
display:block;
border-radius:50%;
transition:all ease 0.6s;
}


.nav-part2 h4:hover::after{
bottom:0;
border-radius:0;

}

.nav-part2 h4 a{
font-weight:600;
color:#000000bb;
text-decoration:none;
position:relative;
z-index:9;
}

.nav-part2 h4:hover a{
color:#fff;
}

.center{
height:65vh;
padding:39px;
width:95%;
display:flex;
align-items:flex-end;
justify-content:space-between;
border-bottom:1px solid #0000003c;
}

.left h3{
width:25vw;
font-size:1.8vw;
}

.center h1{
font-size:10vw;
line-height:10vw;
text-align:right;
}

.page1 video{
position:relative;
margin-top:4vw;
border-radius:30px;
background:#efeae3;
width:100%;
}

.hero-shape{
position:absolute;
width:42vw;
height:30vw;
right:0;
top:77vh;
}

.hero1{
position:absolute;
height:100%;
width:100%;
background:#fe320a;
border-top-left-radius:50%;
border-bottom-left-radius:50%;
filter:blur(20px);
}

.hero2{
height:30vw;
width:30vw;
background:#fe320a;
border-radius:50%;
filter:blur(20px);
position:absolute;
animation:anime2;
animation-duration:5s;
animation-timing-function:linear;
animation-direction:alternate;
animation-iteration-count:infinite;
}

.hero3{
position:absolute;
height:30vw;
width:30vw;
background:#fe320a;
border-radius:50%;
filter:blur(20px);
animation:anime1;
animation-duration:5s;
animation-timing-function:linear;
animation-direction:alternate;
animation-iteration-count:infinite;
}

@keyframes anime1{
from{
transform:translate(-10%,10%);
}
to{
transform:translate(10%,-10%);
}

}

@keyframes anime2{
from{
transform:translate(5%,-5%);
}
to{
transform:translate(-20%,20%);
}

}


.page2{
position:relative;
padding:2vw 0;
min-height:50vh;
width:100%;
background:#efeae3;
}

.moving-text{
overflow-x:auto;
white-space:nowrap;
}

.moving-text::-webkit-scrollbar{
display:none;
}

.con{
white-space:nowrap;
display:inline-block;
animation-name:move;
animation-duration:10s;
animation-timing-function:linear;
animation-iteration-count:infinite;
}

.moving-text h1{
font-size:7vw;
display:inline-block;

}

.gola{

margin:0vw 2vw;
height:70px;
width:70px;
border-radius:50%;
background:#fe320a;
display:inline-block;
}

@keyframes move{
from{
transform:translatex(0);
}
to{
transform:translatex(-100%);
}

}

.page2-bottom{
height:80vh;
width:100%;
background-color:#efeae3;;
display:flex;
align-items:center;
justify-content:space-between;
}

.page2-bottom h1{
font-size:3.5vw;
max-width:40%;
width:50%;
margin-left:100px;
line-height:4rem;
position:relative;
z-index:9;
}

.bottom-part2{
margin-top:10%;
width:30%;

}

.bottom-part2 img{
border-radius:8%;
width:70%;
background-size:cover;
}

.bottom-part2 p{
font-weight:500;
margin-top:40px;
margin-left:10px;
width:70%;
}

.page2 .gooey{
position:absolute;
height:25vw;
width:25vw;
background:linear-gradient(to top right,#fe320a,#fe5b0a);
border-radius:50%;
left:20%;
bottom:50%;
filter:blur(10px);
animation-name:gooey;
animation-duration:3s;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-timing-function:linear;
}

@keyframes gooey{
from{
transform:translate(10%,-10%)skew(0);
}
to{
transform:translate(-10%,10%)skew(-12deg);
}

}

.page3{
padding:4vw 0;
height:69vh;
width:100%;
background:#efeae3;
}

.elem{
cursor:pointer;
position:relative;
height:100px;
width:100%;
border-bottom:1px solid #38383864;
display:flex;
align-items:center;
overflow:hidden;
}

.elem h2{
font-size:2.5vw;
position:relative;
z-index:9;
padding:0 3vw;
}


.elem .overlay{
height:100%;
width:100%;
background:orange;
position:absolute;
left:0;
top:-100%;
transition:all ease 0.2s;
}

.elem:hover .overlay{
top:0;
}

.elem-container{

}

.fixed-image{

height:23vw;
width:18vw;
border-radius:10px;
position:fixed;
z-index:10;
left:50%;
top:35%;
display:none;
background-size:cover;
background-position:center;
}

.page4{
height:100vh;
width:100%;
background:#efeae3;
display:flex;
align-items:center;
justify-content:center;
}

.page4 .page-p{
width:97%;
height:90%;
background:linear-gradient(to right, #040404, #242424, #656565);;
border-radius:50px;
display:flex;
align-items:center;
overflow:hidden;
justify-content:space-evenly;
}

.page-p .left{
height:97%;
width:40%;
background:transparent;
display:block;
align-items:center;
justify-content:center;
flex-direction:coloum;
margin-top:20%;
}

.left h1{
margin-left:40%;
font-size:50px;
color:#fff;
width:10px;
line-height:3vw;
}

.left:hover h1 {
top:0;
right:0;
}

.left h1:hover{
color:#dcdcdc;
}


.left p{
margin-top:1vw;
max-width:300px;
margin-left:40%;
color:#fff;
line-height:1vw;
}


.page-p .right{
height:100%;
width:60%;
background:;
}

.right img{
background-size:cover;
background-position:center;
border-radius:50px;
border-radius-bottom-left:50px;
}


.page5{
height:100vh;
width:100%;
}

.footer{
position:relative;
background:#000;
color:#fff;
position:fixed;
z-index:8;
width:100%;
height:100vh;
bottom:0;
display:flex;
align-items:flex-end;
justify-content:center;

}

.footer h1{
font-size:22vw;
}


.footer-div{
position:absolute;
height:30vh;
width:100%;
background:#fe320a;
top:0;
}


.footer-bottom{
bottom:-2%;
position:absolute;
border-top:1px solid #dadada;
height:10vh;
width:100%;
padding:0 2vw;
}


.footer-data{
position:relative;
display:flex;
justify-content:space-between;

}

.footer-data h2{

}

.footer-data h1{

}




